.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}
.error404 {
  font-size: 7rem;
  color: white;
}

.Unfound {
  font-weight: 500;
  font-size: 3rem;
  color: #00bc77;
}

.returnLink {
  margin-top: 100px;
  text-decoration: underline;
  color: white;
}
